@model  PagedList.IPagedList<WebForum.Models.ListBaiViet>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageForum.cshtml";
}

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPageForum.cshtml";
}
@*<div class="col-sm-12">
    <div class="wrap">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form" }))
        {
            <div class="pull-left txt"><input name="SearchString" id="SearchString" type="text" class="form-control" placeholder="Tìm kiếm bài viết"></div>
            <div><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></div>
            <div class="clearfix"></div>
        }
    </div>
</div>*@
<div class="col-lg-8 col-md-8">
    <!-- POST -->
    @foreach (var i in Model)
    {
        <div class="post">
            <div class="wrap-ut pull-left">
                <div class="userinfo pull-left">
                    <div class="avatar">
                        <img src="images/avatar.jpg" alt="" />
                        <div class="status green">&nbsp;</div>
                    </div>

                    <div class="icons">
                        <img src="images/icon1.jpg" alt="" /><img src="images/icon4.jpg" alt="" />
                    </div>
                </div>
                <div class="posttext pull-left">
                    <h2><a href="02_topic.html">@i.TenBaiViet</a></h2>
                    <p>Ten nguoi dang: @i.TenNguoiDang</p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="postinfo pull-left">
                <div class="comments">
                    <div class="commentbg">
                        @i.countCmt
                        <div class="mark"></div>
                    </div>

                </div>
                <div class="views"><i class="fa fa-eye"></i> @i.countLike</div>
                <div class="time"><i class="fa fa-clock-o"></i> @i.NgayDang.Value.ToString("dd/MM/yyyy")</div>
            </div>
            <div class="clearfix"></div>
        </div>
    }
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, currentFilter = ViewBag.CurrentFilter }))
    <!-- POST -->
</div>

